<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore"
           path="*"
           verb="*"
           modules="AspNetCoreModuleV2"
           resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="C:\Program Files\Python312\python.exe"
                arguments="C:\inetpub\wwwroot\GC_Tools\startup.py"
                stdoutLogEnabled="true"
                stdoutLogFile=".\logs\python.log"
                hostingModel="outofprocess"
                startupTimeLimit="60">
      <environmentVariables>
        <environmentVariable name="HTTP_PLATFORM_PORT" value="%ASPNETCORE_PORT%" />
        <environmentVariable name="AZURE_KEY_VAULT_NAME" value="goconnection-keyvault" />
        <environmentVariable name="PYTHONHOME" value="C:\Program Files\Python312" />
        <environmentVariable name="GCTOOLS_PATH_PREFIX" value="/GC_Tools" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>
